mixin modal(id, title, text, btnClose, btnSubmit)
  .modal.fade(id=id data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header.btn.btn-warning
          h5.text-primary.modal-title= title
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          p.text-dark= text            
        .modal-footer
          button.btn.btn-danger(type='button' data-bs-dismiss='modal')= btnClose
          a(href='checkout.html')
            button.btn.btn-success(type='button')= btnSubmit